body {
  font-family: 'Inter', sans-serif;
  /* Fonte importada do Google Fonts */
  margin: 0;
  /* Remove margens padrão */
  padding: 0;
  /* Remove preenchimentos padrão */
  background-color: #f9f9f9;
  /* Define uma cor de fundo suave */
  color: #333;
  /* Define a cor padrão do texto */
  display: flex;
  /* Flexbox para alinhamento */
  flex-direction: column;
  /* Elementos empilhados verticalmente */
  align-items: center;
  /* Centraliza o conteúdo horizontalmente */
  min-height: 100vh;
  /* Garante que o body ocupe a altura total da tela */
  box-sizing: border-box;

}

.image1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

/* Estilo da imagem */
.image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}




nav {
  display: flex;
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  padding: 30px 20px;
  border-radius: 5px;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid green;






}

/* Estilo para a lista */
nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
  margin-right: 100px;

  border: 1px solid purple;

}



/* Links */
nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  padding: 5px 10px;
  transition: all 0.3s;
  font-size: 18px;
  border: 1px solid blue;

}



nav ul li a:hover {
  background-color: #ddd;
  color: #000;
}




/* Estilo para o ícone do carrinho */
.cart-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s;
  margin-left: 40px;
  border: 1px solid yellowgreen;

}


.cart-icon:hover {
  transform: scale(1.1);

}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 200px;
  border: 1px solid orangered;
}

.logo img {
  width: 100px;
  height: 100px;
}

.logo span {
  font-size: 36px;
  font-weight: 900;
  color: white;
  font-family: 'Inter', sans-serif;

}




